body {
    margin: 0;
    padding: 0;
    background: url('flowchart_background_2.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.gif-image {
    width: auto;
    height: 200px; 
    margin-bottom: 20px;
}

.flowchart-image {
    width: 90%; 
    height: auto;
}
