<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Information Page</title>
    <link rel="stylesheet" href="\static\moreinfo.css">
</head>
<body>
    <div class="container">
        <h1>Additional Resources</h1>
        
        <h2>Code</h2>
        <ul class="links-list">
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/AES-CBC%20encryption.cs">AES-CBC mode code (in C#)</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/AES-CTR(with%20same%20key%20and%20nonce)%20pattern%20analyze.py">AES-CTR mode code</a> - with same key and nonce</li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Affine%20Cipher%20Cracker.py">Affine Cipher cracker code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Affine%20Cipher.py">Affine Cipher code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Binary%20extended%20Euclidean%20algorithm.py">Binary extended Euclidean Algorithm</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Caesar%20Cipher%20Cracker.py">Caesar Cipher cracker code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Euclidean%20and%20extended%20algorithm.py">Euclidean and extended Algorithm</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Exponentiation%20method.py">Exponentiation Method code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/MD5%20sum%20calculator.py">MD5 sum Calculator code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/One-Time-Pad.py">One Time Pad code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/SHA-256%20Hashing%20Cracker.py">SHA-256 Hashing Cracker code</a></li>
            <li><a href="https://github.com/Lunalhc/Portfolio/blob/main/Salting%20the%20Password.py">Salting the password code</a></li>
        </ul>
        
        <h2>Websites</h2>
        <ul class="links-list">
            <li><a href="https://cryptodoneright.org/">Crypto done right</a> - cryptographic knowledge base searching machine</li>
            <li><a href="https://md5.gromweb.com/?md5=6384e2b2184bcbf58eccf10ca7a6563c">MD5 reverse</a> - MD5 reverser</li>
        </ul>
    </div>
</body>
</html>
